body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.55);
    font-family: "Nanum Gothic", sans-serif;
    color: #cbcdd8;
    text-align: center;
}

article {
    padding: 20px;
    background-color: #000000b3;
    border-radius: 10px;
}

h2 {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 10px 0 10px;
}

.project-grid {
    display: grid;
    margin: 10px;
    gap: 10px;
}

@media (min-width: 30em) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.btn {
    transition: 0.5s ease;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #4f78c9;
    position: relative;
    color: #fff;
    line-height: 1.3em;
    box-sizing: border-box;
    margin: 0 40px;
    min-width: 80px;
    text-decoration: none;
}
.btn:hover {
    background-color: #2862d6a9;
    color: #1eff00;
}
