@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap');
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #5c5c5c url(https://wallpaperaccess.com/full/1385482.jpg) no-repeat fixed center center;
  background-size: cover;
  user-select: none;
}

.name {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 5em;
  font-family: 'Baloo Bhaijaan', cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px #3d3d3d;
  line-height: 60px;
}

.sub {
  color: rgb(146, 1, 1);
  font-size: 1.5em;
  font-family: 'Baloo Bhaijaan', cursive;
}
.links {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 1.2em;
  font-family: 'Baloo Bhaijaan', cursive;
  padding: 5px 15px;
  border-radius: 4px;
  background: #6606c0;
  color: white;
  transition: 200ms;
}

.button:hover {
  color: black;
  background: #0482d6;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.4);
}
