section {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floating 4s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.name {
    animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, -0.5vh);
    }
    50% {
        transform: translate(0, -2vh);
    }
    100% {
        transform: translate(0, -0.5vh);
    }
}

@keyframes tilting {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(2deg);
    }
}
