* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: rgb(100, 29, 167);
    padding: 1em;
    font-size: 2.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    text-align: center;
    transition: 500ms ease;
}

h2 {
    font-size: 0.8em;
    color: rgb(25, 0, 51);
}

.rotate {
    transform: scale(0) rotate(90deg);
    color: chocolate;
}
