body,
html {
    padding: 0;
    margin: 0;
    background-color: white;
    height: 100%;
}

#nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

h1 {
    margin: 0;
}

.title {
    font-size: max(20px, 2vw);
}

.name {
    font-size: max(50px, 5vw);
}

.up-next {
    color: white;
    font-size: max(20px, 2vw);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    padding: 20px;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100vh;
}
